#401 Авторизация не выполнена
ErrorDocument 401 /error.php

#403 Access is denied
ErrorDocument 403 /error.php

#404 Page not found
ErrorDocument 404 /error.php

#500 Внутренняя ошибка сервера
ErrorDocument 500 /error.php

#Запрет вывода списка файлов
Options All -Indexes